# Sample Credentials File.
# Create a file called "credentials" in the same folder as 
# cf-ddns.sh with the information below set. 
# This Git Repo has a .gitignore that keeps the credentials file from
# Being committed. 

cfkey=<Cloudflare API key>
email=<Cloudflare email-address>
zone=<zone name>
cfhost=<Cloudflare host name you want to change>

Example:
cfkey=gbkb648d1afkea39e2d94v87b2605a6bnd87e
email=workemail@yourjobdomain.com
zone=yourjobdomain.com
cfhost=www